rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /user/{userId}/private/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /teams/{teamId}/protected/{allPaths=**} {
      // all team members can read and create protected files
      allow read, create: if request.auth != null && request.auth.uid in firestore.get(/databases/(default)/documents/public_team_data/$(teamId)).data.participants;      
      // only team owners can update and delete protected files
      allow update, delete: if request.auth != null && request.auth.uid == firestore.get(/databases/(default)/documents/teams/$(teamId)).data.ownerUID;
    }
    match /user/{userId}/public/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}