:root {
  --background-color: rgb(17, 22, 27);
  --board-color: #0d1117;
  --board-focus-color: #19202b;
  --foreground-color: rgb(255, 255, 255);
  --placeholder-color: rgb(157, 157, 157);
  --error-color: rgb(255, 103, 103);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gradient_background {
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgb(24, 7, 27) 49%, rgb(17, 27, 103) 100%);
  height: 100vh;
  width: 100vw;
}

.login-card {
  position: absolute;
	top: 40%;
	left: calc(50% - 20vw);
  width: 40%;
  height: 25%;
  border-radius: 15px;
  backdrop-filter: blur(8px);
  box-shadow: inset 0 0 0 400px rgba(255, 255, 255, 0.08);
}

.profile_image {
  width: 38px;
  border-radius: 30px;
  vertical-align: middle;
}