.card {
    padding: 10px 10px;
    width: min(max(30vw, 100px), 200px);
    border-radius: 8px;
    background-color: var(--board-color);
    overflow: auto;
}
.card:hover {
    background-color: var(--board-focus-color);
}
.card_title {
    display: inline-block;
    text-align: center;
}